#############################
# Build Output
#############################

target/
build/
out/

#############################
# Maven
#############################

.mvn/wrapper/maven-wrapper.jar

#############################
# IDE
#############################

.vscode/
!.vscode/extensions.json

.idea/
*.iml

#############################
# macOS
#############################

.DS_Store

#############################
# Logs
#############################

*.log

#############################
# Environment Files
#############################

.env
.env.*

#############################
# OS Files
#############################

Thumbs.db